name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to release.
        required: true

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Prepare NodeJS
        uses: chrisgavin/nodejs-prepare-action@7b5f9b248f3bfec14724678b20b97d027a879917 # 0.0.6
      - name: Install Dependencies
        run: npm ci
      - name: Create the Release
        uses: ./
        with:
          tag: ${{ github.event.inputs.tag }}
